body{
    background-image: url('fundo.jpg')
}
form{
    position: relative;
    text-align:center;
    color: black;
    font-size: 20px;
}
h1{
    text-align:center;
    top: 20px;
    position: relative;
    margin: 20px;
    color: black;
}
.compl{
    background-color: rgb(255, 255, 255,0.4);
    
}